@font-face {
    font-family: 'Koruri';
    src: url('/css/WebKoruri.eot');
    src: url('/css/WebKoruri.eot?#iefix') format('embedded-opentype');
    src: url('/css/WebKoruri.woff') format('woff'),
         url('/css/WebKoruri.ttf') format('truetype');
    
    /*  for fuck'n chrome  */
    src: url(/css/WebKoruri.woff) format('woff'); 
}

body {
    font-family: Koruri;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Koruri;
}

.markdown-body {
    font-family: Koruri;
}

.commit > .sha-block {
    font-family: Koruri;
}

.commit-desk {
    font-family: Koruri;
}

.commit-tease-sha {
    font-family: Koruri;
}

.blob-num {
    font-family: Koruri;
}

.blob-code-inner {
    font-family: Koruri;
}

.credit-card normal > .signature {
    font-family: Koruri;
}

.credit-card > .cvv {
    font-family: Koruri;
}

.credit-card > .text {
    font-family: Koruri;
}

.CodeMirror-hints {
    font-family: Koruri;
}

.CommunityTemplate-highlight {
    font-family: Koruri;
}


.filea-actions > select {
    font-family: Koruri;
}

.hook-delivery-guid {
    font-family: Koruri;
}

.hook-delivery-response-status {
    font-family: Koruri;
}

.audio-type > .hook {
    font-family: Koruri;
}

.oauth-app-info-container > .keys > dd {
    font-family: Koruri;
}

.two-factor-recovery-codes { 
    font-family: Koruri;
}

.hx_text-body {
    font-family: Koruri;
}
.one-tag-list .tag-text {
    font-family: Koruri;
}